.main-bottom.play {
  display: block; }
  .main-bottom.play .main-menu ul.menu-main {
    position: fixed !important;
    z-index: 1000;
    background-color: black;
    width: 80% !important;
    height: 100%;
    top: 0;
    left: 0;
    animation: menura 0.5s forwards; }
    .main-bottom.play .main-menu ul.menu-main .new-arrival-content .list-child-menu > li {
      display: flex !important;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between; }
      .main-bottom.play .main-menu ul.menu-main .new-arrival-content .list-child-menu > li i {
        color: white; }
    .main-bottom.play .main-menu ul.menu-main li {
      display: block !important;
      text-align: left;
      height: unset;
      width: 100%; }
      .main-bottom.play .main-menu ul.menu-main li.demos ul.child-menu-demo {
        position: static;
        display: none;
        box-shadow: none; }
        .main-bottom.play .main-menu ul.menu-main li.demos ul.child-menu-demo.play-child-menu {
          display: block;
          background-color: black;
          border: 0;
          width: 100%;
          padding: 0 10px;
          line-height: 30px;
          opacity: 1;
          visibility: visible; }
          .main-bottom.play .main-menu ul.menu-main li.demos ul.child-menu-demo.play-child-menu a {
            color: white;
            border: 0;
            line-height: 30px; }
      .main-bottom.play .main-menu ul.menu-main li a {
        line-height: 50px;
        color: white;
        display: flex !important;
        justify-content: space-between; }
        .main-bottom.play .main-menu ul.menu-main li a i {
          line-height: 50px; }

@-webkit-keyframes menura {
  0% {
    left: -150px;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }
.main-content.play-search {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 28%; }
  .main-content.play-search .search {
    animation: search-open 0.5s forwards;
    background-color: white; }

@-webkit-keyframes search-open {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
._1slider img {
  width: 100%; }

@media only screen and (max-width: 1250px) {
  .slick-prev {
    left: 0 !important; }

  .slick-next {
    right: 0 !important; } }
@media only screen and (max-width: 1200px) {
  header .new-arrival-content {
    width: 900px !important; }
    header .new-arrival-content .bottom-childmenu-newarrival a:last-child {
      display: none; }

  footer .col-footer {
    margin-bottom: 20px; }

  header .control-menu-mobile {
    display: none; }
  header .mega-menu i {
    display: none; } }
@media only screen and (min-width: 1199px) {
  header .mega-menu i {
    display: none; }
  header .control-menu-mobile, header .control-main-content {
    display: none; } }
@media only screen and (max-width: 1199px) {
  .fixed {
    animation: none;
    top: unset;
    left: unset;
    transform: unset;
    z-index: 1000;
    position: unset; }

  footer .footer-end .col-footer-end p, footer .footer-end .col-footer-end .footer-menu-list {
    text-align: center;
    line-height: 25px; }

  .main-slider .bottom-main-slider .img {
    width: calc(100%/3 - 20px/2);
    border: 1.5px solid #f0f0f0; }
    .main-slider .bottom-main-slider .img img {
      width: 100%; }

  .banner-footer .sub {
    margin-left: 0;
    margin-top: 20px; }

  .best-sale .content-best-sale span {
    display: none; }

  header .header-bottom {
    padding-top: 5px;
    padding-bottom: 5px; }
  header .main-bottom {
    display: none; }
    header .main-bottom ul .new-arrival-content {
      display: none; }
    header .main-bottom ul li:hover .new-arrival-content {
      display: none; }
  header .mega-menu i {
    display: block; }
  header:after {
    display: none; }
  header .header-top .col-lg-12 {
    text-align: center; }
    header .header-top .col-lg-12:last-child {
      display: none; }
  header .bottom-right {
    display: none; }
  header .header-content .content-left, header .header-content .main-content {
    margin: 0 !important; }
  header .header-content .search {
    width: 350px !important; }
    header .header-content .search button:after {
      display: none; }
    header .header-content .search:after {
      display: none; }
  header .header-bottom .bottom-left {
    display: none; }
  header .control-menu-mobile {
    display: block;
    font-size: 20px; }

  .main-slider .main-slide-left {
    width: 100%; }

  .main-slider .main-slide-right {
    display: none; }

  .mix-product .product-left {
    width: 100%; }
  .mix-product .product-right {
    display: none; }

  footer .list-icon {
    float: left;
    margin-left: 0; }

  header .menu-main {
    overflow-y: auto;
    overflow-x: hidden; }
    header .menu-main .new-arrival-content.play-mega-menu {
      position: static !important;
      display: block !important;
      width: auto !important;
      background: transparent !important;
      padding: 0 10px 0 20px !important;
      opacity: 1;
      visibility: visible; }
      header .menu-main .new-arrival-content.play-mega-menu .bottom-childmenu-newarrival {
        display: none !important; }
      header .menu-main .new-arrival-content.play-mega-menu .childmenu {
        width: 100% !important;
        display: none; }
        header .menu-main .new-arrival-content.play-mega-menu .childmenu li a {
          line-height: 30px;
          color: white !important;
          font-weight: 400 !important;
          margin-bottom: 0 !important;
          font-size: 14px !important; } }
@media only screen and (min-width: 992px) {
  header .control-main-content {
    display: none; } }
@media only screen and (max-width: 991px) {
  .magic-tabs:after {
    display: none; }

  .main-slider .banner-content span {
    font-size: 18px !important;
    margin-bottom: 10px !important;
    line-height: 25px !important; }
  .main-slider .banner-content h1 {
    font-size: 13px !important;
    margin-bottom: 5px !important; }
  .main-slider .banner-content .btn {
    font-size: 13px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    line-height: 20px !important; }

  .mostview-product .magic-tabs, .tv-product .magic-tabs {
    display: block; }
    .mostview-product .magic-tabs ul, .tv-product .magic-tabs ul {
      padding-left: 0;
      margin-top: 20px;
      overflow-x: auto;
      white-space: nowrap; }

  .tv-product .tv-right {
    width: 100%; }
  .tv-product .tv-left {
    display: none; }

  .banner-top-second .content-banner {
    width: calc(100%/2 - 30px/2); }
    .banner-top-second .content-banner:nth-child(n+3) {
      margin-top: 30px; }

  .main-slider .bottom-main-slider .img {
    width: calc(100%/2 - 20px/2); }

  .bottom-main-slider .img:last-child {
    display: none; }

  header .header-bottom .bottom-left {
    display: none; }

  header .control-main-content {
    display: block; }
  header .main-content {
    display: none; }
  header .header-content .control-main-content {
    display: none; }
  header .header-bottom {
    padding: 10px 0; }
    header .header-bottom i {
      font-size: 20px !important; }
    header .header-bottom .control-main-content {
      display: block;
      color: white; }
  header .header-top .top-left {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0; }
    header .header-top .top-left span {
      margin: 0 !important;
      text-align: center;
      padding: 0px 15px; }
      header .header-top .top-left span:after {
        display: none; }
  header .header-bottom .main-bottom {
    width: 100%; }
    header .header-bottom .main-bottom .main-menu {
      width: 100%; }
      header .header-bottom .main-bottom .main-menu .menu-main {
        text-align: center;
        padding: 0;
        width: 100%; }
  header .play-search {
    width: 90%;
    left: 5% !important; }
    header .play-search .search {
      width: 100% !important; }

  .feature-product .view-now {
    padding: 10px 45px;
    line-height: 30px; }
    .feature-product .view-now button {
      white-space: nowrap;
      padding: 0px 15px; }

  .best-sale .content-best-sale h3 {
    font-size: 15px; }

  .best-sale .content-best-sale h1 {
    font-size: 20px;
    line-height: 20px; }

  .best-sale .content-best-sale span {
    display: none; }

  .mix-product .product-left {
    width: 100%; }
  .mix-product .magic-tabs .title {
    padding: 0;
    font-size: 14px !important; }

  footer .saleoff {
    margin-bottom: 0; }
  footer .bottom-left p, footer .bottom-right p {
    text-align: center !important;
    line-height: 50px; }
  footer .footer-end .bottom-right, footer .bottom-left {
    margin-left: 0;
    margin: auto; } }
@media only screen and (max-width: 767px) {
  .main-slider .control-slider i {
    width: 25px;
    line-height: 40px;
    font-size: 20px; }

  .appliances .popup {
    width: 90%;
    padding: 20px; }
    .appliances .popup .popup-content .header-popup h1 {
      font-size: 30px; }
      .appliances .popup .popup-content .header-popup h1 strong {
        font-size: 35px; }
    .appliances .popup .popup-content .sub-form {
      width: 60%; }
      .appliances .popup .popup-content .sub-form input {
        padding: 10px; }

  .top {
    display: none !important; }

  header .content-right .el:first-child .list-window._on-signin {
    left: 0 !important;
    right: auto !important; }
    header .content-right .el:first-child .list-window._on-signin:after {
      left: 20px !important; }

  header .main-bottom {
    display: none; }

  header .header-content .content-right {
    width: 100%;
    order: 3; }
  header .header-content .content-left {
    display: flex;
    justify-content: space-between; }
    header .header-content .content-left .control-main-content {
      display: block; }
    header .header-content .content-left .control-menu-mobile {
      font-size: 24px;
      line-height: 90px;
      color: white; }

  .best-sale .content-best-sale {
    top: 15%; }

  .mix-product .product-left {
    flex-wrap: wrap; }
  .mix-product .category-product {
    width: 100% !important;
    margin-bottom: 10px; }

  .mostview-product .magic-tabs ul, .tv-product .magic-tabs ul {
    padding-left: 0;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 5px; }

  footer .col-footer-bottom {
    width: 100%; }
    footer .col-footer-bottom:last-child {
      justify-content: space-between;
      margin-top: 20px; }
  footer .col-footer.cover-sub {
    padding-left: 0; } }
@media only screen and (max-width: 640px) {
  header .content-left {
    text-align: center; }
  header .bottom-left {
    display: none; }
  header .main-bottom ul {
    text-align: center !important;
    padding: 0 !important; }

  .mix-product .product-left {
    flex-wrap: wrap; }
  .mix-product .category-product {
    width: 70% !important;
    margin: auto; } }
@media only screen and (max-width: 576px) {
  header .header-top .top-left {
    justify-content: center; }
    header .header-top .top-left span {
      padding-left: 15px;
      padding-right: 15px; }
    header .header-top .top-left .welcome, header .header-top .top-left .phone-num {
      display: none; }
  header .content-left {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px; }

  .feature-product .view-now {
    display: inline-grid; }
    .feature-product .view-now button {
      margin-left: 0;
      margin-top: 15px; }

  .magic-tabs .title {
    font-size: 15px; }

  .main-slider .bottom-main-slider {
    padding: 0 15px;
    flex-wrap: wrap; }
    .main-slider .bottom-main-slider .img {
      width: 100%; }
      .main-slider .bottom-main-slider .img:not(:last-child) {
        margin-top: 15px; }

  footer .footer-end .container {
    padding-left: 15px;
    padding-right: 15px; }
  footer .footer-content, footer .footer-bottom {
    padding-left: 15px;
    padding-right: 15px; }

  header .header-top, header .header-bottom, header .header-content {
    padding-left: 15px;
    padding-right: 15px; }

  section {
    padding-left: 15px;
    padding-right: 15px; }

  .main-slider {
    padding: 0; }

  .banner-bottom .advertisement {
    width: 100%; }
    .banner-bottom .advertisement:not(:last-child) {
      margin-bottom: 20px; } }
@media only screen and (max-width: 480px) {
  .appliances .popup .popup-content {
    background: #ffffff78;
    padding: 5px;
    border-radius: 5px; }
    .appliances .popup .popup-content .sub-form {
      width: 100%; }
    .appliances .popup .popup-content .header-popup h4 {
      font-size: 16px; }
    .appliances .popup .popup-content .header-popup h1 {
      font-size: 20px;
      line-height: 25px; }
      .appliances .popup .popup-content .header-popup h1 strong {
        font-size: 25px; }

  .banner-top .hot-product .item {
    width: 100%; }

  .banner-top-second .content-banner {
    width: 100%; }
    .banner-top-second .content-banner:not(:first-child) {
      margin-top: 20px; }

  .banner-footer .sub {
    width: 100%; }

  .magic-tabs .title {
    font-size: 16px !important; }

  .banner-footer .sub input::placeholder {
    font-size: 10px; }

  header .main-content .search select {
    display: none; }
  header .header-top, header .header-bottom, header .header-content {
    padding-left: 0;
    padding-right: 0; }
  header .header-bottom .control-main-content {
    display: none; }
  header .header-content .control-main-content {
    display: block;
    font-size: 20px; }
  header .list-icon {
    margin: auto; }
  header .header-content .row {
    margin: 0 !important;
    flex-wrap: wrap !important;
    flex-direction: row-reverse; }
  header .content-right {
    width: 100%; }
    header .content-right .el .text {
      display: none; }

  header .header-content .content-right {
    padding-bottom: 10px; }
    header .header-content .content-right .el .i {
      margin-right: 0;
      font-size: 25px; }

  .mix-product .category-product {
    width: 80% !important; }

  .best-sale .content-best-sale {
    max-width: 40%; }
    .best-sale .content-best-sale button {
      font-size: 11px;
      line-height: 20px;
      padding: 0 10px;
      margin-top: 0; }

  footer .list-icon {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    footer .list-icon .title {
      width: 100%; }

  footer .bottom-left p {
    line-height: 20px; }

  footer .footer-end .bottom-right img {
    width: 80%; }

  .up {
    right: 10px;
    bottom: 10px;
    z-index: 998; }

  .main-slider .content-slider img {
    min-height: 200px;
    object-fit: cover; }

  .product-item.list {
    display: block; } }
@media only screen and (max-width: 360px) {
  .col-footer-bottom img {
    width: 70%; }
  .col-footer-bottom .link-img a:not(:last-child) img {
    margin-bottom: 10px; }

  .top {
    display: none !important; }

  header .header-content .content-right {
    padding-top: 0; }
  header .content-right .list-window._on-shoppingcard {
    width: 280px !important;
    right: 0px; }
    header .content-right .list-window._on-shoppingcard .product-image {
      display: none !important; }
    header .content-right .list-window._on-shoppingcard .delete {
      right: -65px !important; }
    header .content-right .list-window._on-shoppingcard .end {
      font-size: 11px !important; }
    header .content-right .list-window._on-shoppingcard .checkout {
      padding-right: 10px !important;
      padding-left: 10px !important; }

  footer .link-img img {
    width: 100px;
    margin-bottom: 10px; }
  footer .sub input {
    font-size: 11px; }
  footer .bottom-left p {
    line-height: 25px; }
  footer .list-icon a {
    margin-right: 5px !important; }
    footer .list-icon a:last-child {
      margin-right: 5px !important; } }
@media only screen and (max-width: 320px) {
  .main-slider .content-slider .banner-content span b {
    display: none; }

  footer .footer-end {
    padding: 10px; }
  footer .bottom-right img {
    width: 80%; } }

/*# sourceMappingURL=mobile.css.map */
