header .header-top .play{
	display: block !important;
	.main-menu{
		ul.menu-main{
		position: fixed !important;
	    z-index: 1000;
	    background-color: black;
	    width: 80% !important;
	    height: 100%;
	    top: 0;
	    left: 0;
	    animation: menura 0.5s forwards;
	    li{
	    	display: block !important;
    		text-align: left;
    		padding: 0 10px;
    		.new-arrival-content{
    			box-shadow: none;
    			padding: 0 0 0 10px !important;
    			opacity: 1;
    			visibility: visible;
    			.list-child-menu {
	    			.childmenu{
	    				display: none;
	    				padding: 10px;
	    			}
	    			>li{
	    				padding: 0;
	    				width: 100%;
	    				display: flex !important;
	    				flex-wrap: wrap;
	    				align-items: center;
	    				justify-content: space-between;
	    				a{
	    					color: white;
	    					line-height: 30px;
	    				}
	    				i{
	    					color: white;
	    				}
    		}}}
    		&.demos{
    			ul.child-menu-demo{
    				position: static;
    				display: none;
    				box-shadow: none;
    				&.play-child-menu{
						display: block;
						background-color: black;						
						border: 0;
						width: 100%;
						padding: 0;
						opacity: 1;
						visibility: visible;
						a{color: white; border: 0;}
    				}
    			}
    		}    		
    		a{    
    			color: white;
    			padding: 0;
    			display: flex !important;
    			justify-content: space-between;
    			i{line-height: 50px;}
    		}
	    }
	}}
}
@-webkit-keyframes menura{
	0%{
		left:-150px;
		opacity: 0;
	}
	100%{
		left:0;
		opacity: 1;
	}
}
// end fixed
.new-arrival-content.play-mega-menu{
    position: static !important;
    display: block !important;
    width: auto !important;
    background: transparent !important;
    padding: 0 25px !important;
    .bottom-childmenu-newarrival{display: none !important;}
    .childmenu{
    	width: 100% !important;
    	li{
    		a{
	    		color: white !important;
	    		font-weight: 400 !important;
	    		margin-bottom: 0 !important;
	    		font-size: 14px !important;
    	}}
    }
}
.main-content.play-search{
	display: block !important;
    position: fixed;
    z-index: 1000;
    width: 80%;
    left: 10%;
    .search{
    	animation: search-open 0.5s forwards;
    	background-color: white;
    	width: 100% !important;
    }
}
@-webkit-keyframes search-open{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
@media only screen and (max-width: 1250px){
	.slick-prev{left: 0;}
	.slick-next{right: 0 ;}
}
@media only screen and (max-width: 1200px){
	header{.new-arrival-content{width: 900px !important;
			.bottom-childmenu-newarrival{a{&:last-child{
				display: none;};}}
		}}
	.mostview-product{
		.product-slider{&:after{display: none;}}
	}
	footer{.col-footer{
		margin-bottom: 20px;
	}}
}
@media only screen and (min-width: 1200px){
	header{
		.mega-menu{i{display: none;}}
		.control-menu-mobile,.control-main-content{	display: none;	}
		.mega-menu{i{display: none;}}
	}
}
@media only screen and (max-width: 1199px){
	footer{
		.footer-end > .container,.footer-bottom > .container,.container{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.mostview-product{
		.container{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.brand {.container{
		padding-left: 15px;
		padding-right: 15px;
	}}
	.fixed{ 
	   	position: unset;
	   	box-shadow: none;
	    animation: none;
	    top: -100%;
	    left: unset;
	    transform: unset;
	    z-index: 1000;
	}
	.sidebar{display: none;}
	.body-main{max-width: 100%;}
	header{
		.header-top {.top-left{
		    width: 100%;
		    justify-content: center;
		    display: flex;
		}}
		.control-menu-mobile{
			display: block; 
			margin-right: 30px;
			i{
				font-size: 24px;
				color: #666666;
		}}
		.control-main-content{
			display: block;
			margin-left: 30px;
			 i{
			 	font-size: 24px;
			 	color: #666666;
		}}
		.new-arrival-content{display: none !important;	}
		.mega-menu{i{display: block;}}
		&:after{display: none;}
		.header-top{
			.main-bottom{display: none;}
			.col-lg-12{	text-align: center;&:last-child{display:none;};}}
		.bottom-right{display: none;}
		.header-content{
			.main-content{display: none;}
			.content-left{flex: 1;}
			.content-left,.main-content{margin: 0 !important;}
			.search{ width: 350px !important; 
				button{&:after{display: none;}}
				&:after{display: none;}}
		}
	}
	.feature-product {._1slider{&:after{right: -1px !important;}}}
	.mix-product{
		.product-left{width: 100%;}
		.product-right{display: none;}
	}
}
// end 1200

@media only screen and (max-width: 991px){
	.fixed{ width: 100%; }
	header{
		.content-right{.el{&:first-child{
			.list-window._on-signin {
				left: 0 !important;
				right: auto !important;
				&:after{left: 20px !important;};
			}
		}}}
		.header-content {
			.content-left{
				order: 1;
				flex: unset;
			}
			.control-main-content{
				order: 2;
			}
			.content-right{
				order: 3;
				width: 100%;
				margin-bottom: 15px;
			}
		}
		.main-content{display: none;}
		.control-main-content{	
			display: block; 
		    font-size: 24px;
		    color: #666666;
		}
		.header-bottom{
			.bottom-left{
				width: auto !important;
				padding:{
					left: 20px !important;
					right: 20px !important;
				}
				i{margin: 0 !important;}
				span{display: none;}
			}
			.main-menu{ul{text-align: right;}}
			.cover-extra-menu{width: 250px;}
		}
		// end header-bottom
		.play-search{
			width: 90%;
			.search{
				width: 100% !important;
			}
		}
	}
	// end header
	.banner-top{a{display: block; width: calc(100%/2 - 30px/2);img{width: 100%;}}}
	.mix-product{
		.product-left{width: 100%;}
		.magic-tabs{.title{
			padding: 0;
			font-size: 14px !important;
		}}
		.view-now{
		    padding: 10px 45px;
		    line-height: 30px;
			button{
			    white-space: nowrap;
    			padding: 0px 15px;
			}
		}
	}
	// end mix product
	.magic-tabs{
		flex-direction: column;
		align-items: flex-start;
		ul{
			margin-top: 20px;
		}
		&:after{display: none;}
	}
	.mix-product {.magic-tabs {ul{
		margin-top: 0;
	}}}
	.tablet-product,.tv-product{
		.magic-tabs{
			ul{
				margin-top: 20px;
				padding: 0;
			}
		}
	}
	.tv-product ._1tab .product-slider ._1slider{width: calc(100%/3 - 45px/3);}
	.tablet-product .per{display: none;}
	.footer-banner{
		.banner-footer .content-banner-footer h1{
			font-size: 13px;
		    margin: 0;
    		line-height: 30px;
		}
		.banner-footer .content-banner-footer button{
		    padding: 0px 15px;
		    font-size: 11px;
		    line-height: 30px;
		}
	}
	footer{
		.col-footer{padding-right: 20px;
			&:nth-child(4){order: 1;};
			&:nth-child(3){order: 2;};

		}
		.bottom-left,.bottom-right{p{
			text-align: center !important;
			line-height: 50px;
		}}
	}
}
// end 991px
// end 768px
@media only screen and (max-width: 767px){
	.magic-tabs{
		ul{
			width: 100%;
			margin-top: 20px;
		}
	}
	.top {display: none !important;}
	.main-slider {
		.control-slider {i{
		    width: 25px;
		    line-height: 40px;
		    font-size: 20px;
		}}
		.content-slider {
		.slide-3,.slide-2,.slide-1{
		    top: 50%;
		    left: 40px;
		    transform: translateY(-50%);
		}
		.banner-content {
			span{
				font-size: 14px;
			}
			.btn{
				padding-right: 15px;
				padding-left: 15px;
				line-height: 15px;
			}
			.big-text-slide{
				line-height: 22px;
				margin-bottom: 10px;
				font-size: 20px;
				b{
					font-size: 22px;
				}
			}
	}}}
	header{
		.header-top{
			.top-left{
				display: flex; 
				width: 100%; 
				justify-content: center;
				span{
					margin-right: 0 !important;
					padding-left: 15px;
					padding-right: 15px;
					&:last-child{margin-right: 20px;};
					&:nth-child(n+3){display: none;};
					&:after{display: none;}
				}
			}		
		}
		>.container{
			min-width: 100% !important; 
			padding: 30px !important; 
			padding-top: 0 !important;
		}		
	}
	.mix-product .view-now{display: inline-grid;
		button{margin-left: 0; margin-top: 15px;}
	}
	.tablet-product ._1tab .product-slider ._1slider{width: 100%;}
	.tv-product ._1tab .product-slider ._1slider{width: 50%; &:last-child{display: none;}}
	.mostview-product .container{padding: 0;}
	.footer-banner{display: none;}
	.mix-product{
		.magic-tabs{li{font-size: 13px;&:after{display: none;};}}
		.product-left{flex-wrap: wrap;}
		.category-product{width: 100% !important; margin-bottom: 10px;}
	}
}

@media only screen and (max-width: 640px){
	header{
		.content-right{.el{&:first-child{
			.list-window._on-signin {
				left: 0 !important;
				right: auto !important;
				&:after{left: 20px !important;};
			}
		}}}
		
		.content-left{
			text-align: center;			
		}
		.container{padding-top: 0 !important; padding-bottom: 0 !important;}
		.bottom-left{display: none;}
		.header-top{
			.top-left > span:not(:last-child):after{
				display: none;
			}
			span{&:after{display: none;};}}
		.main-bottom{ul{
			text-align: center !important;
			padding: 0!important;
		}}
	}
	.mix-product{
		.product-left{flex-wrap: wrap;}
		.category-product{width: 70% !important; margin: auto;}
	}
	.tablet-product,.tv-product{.magic-tabs{
		ul{
			white-space: nowrap;
			overflow-x: auto;
	}	}	}
}
// end 680px
@media only screen and (min-width: 576px){
	header .content-left{
		.control-menu-mobile,.control-main-content{display: none;}
	}
}

@media only screen and (max-width: 576px){
	.clooring {.popup{
		width: 90%;
		padding: 20px;		
		.popup-content{ 
			.sub-form {input{
				padding: 15px;
			}}
			.header-popup {
			h3{
				font-size: 16px;
			}
			h1{
				font-size: 25px;
				strong{
					font-size: 30px;
				}
		}}}
	}}
	header{
		.content-right{width: 100%;}
		.main-bottom{display: none;
			.mega-menu{position: relative;
				i{display: block;}
			}
		}
		.menu-main{
	        overflow-y: auto;
    		overflow-x: hidden;
    		.new-arrival-content.play-mega-menu{
    		    position: static !important;
			    display: block !important;
			    width: auto !important;
			    background: transparent !important;
			    padding: 0 25px !important;
			    .bottom-childmenu-newarrival{display: none !important;}
			    .childmenu{
			    	width: 100% !important;
			    	li{
			    		a{
				    		color: white !important;
				    		font-weight: 400 !important;
				    		margin-bottom: 0 !important;
				    		font-size: 14px !important;
			    	}}
			    }
    		}
		}
	}
}
// end 576

@media only screen and (max-width: 480px){
	.main-slider {
		margin-right: -15px;
		margin-left: -15px;
		width: auto;
		.content-slider{ 
		img{
		    min-height: 200px;
    		object-fit: cover;
		}
		.banner-content {
			span{
				display: none;
			}
			.big-text-slide{
				display: block;
	}}}}
	header {.header-content {.content-right {.el {i{
		margin-right: 0;
	}}}}}
	.banner-top {
		margin: 0;
		a{
		width: 100%;
		margin-bottom: 10px;
	}}
	.magic-tabs{.title{
		font-size: 16px ;
		padding-right: 0;
	}}
	.sticker{font-size: 9px !important;}
	header{
		.header-content{ .main-content{ .search {select{
			display: none;
		}}}}
		.content-right{width: 100%;
			.el{
			.text{display: none;}
		}}
		
	}
	.tv-product{margin-top: 20px;}
	.banner-top{
		.content-banner{
			width: 100% !important; 
			margin-top: 15px;
		}
	}
	.tablet-product,.tv-product{
		padding: 0px;
		img{width: 100%;}
		.product-slider{._1slider{
	    	width: 100%;
	    	margin: auto;
		}}
	}
	.product-item.list{display: block;}
	.mix-product .magic-tabs ul{overflow-x: auto; white-space: nowrap;}
	.tv-product{padding: 0;}
	.tv-product ._1tab .product-slider ._1slider{width: 100%;}
	.mix-product{.category-product{
		    width: 80% !important;
	}}
	footer{
		.bottom-left{p{line-height: 25px;}}
		.footer-end{ .bottom-right {img{
			width: 70%;
		}}}
	}
	.up{
		right: 10px;
		bottom: 10px;
		z-index: 998;
	}
}
// end 480

@media only screen and (max-width: 360px){
	.top{display: none !important;}
	header{
		.header-top{span{
			&:nth-child(3),&:nth-child(4){width: 45% !important;}
		}}
		.top-right{display: none !important;}
		.content-right{padding-bottom: 0 !important;}	
		.content-right{.list-window._on-shoppingcard{
			width: 280px !important;
			right: 0px;
			.product-image{display: none !important;}
			.delete{right: -65px !important;}
			.end{font-size: 11px !important;}
			.checkout{
				padding-right: 10px !important;
				padding-left: 10px !important;
			}
		}}
	}
	footer{
		.link-img{img{margin-bottom: 10px;}}
		.sub{input{font-size: 11px;}}		
		.list-icon{a{margin-right: 5px !important;
		&:last-child{margin-right: 5px !important;};
	}}}
	.mostview-product{
		padding: 0;

	}
}
// end 360

@media only screen and (max-width: 320px){
	footer{.bottom-right{
		img{width: 80%;}
	}}

}
// end 320