.main-bottom.play{
	display: block;
	.main-menu{
		ul.menu-main{
		position: fixed !important;
	    z-index: 1000;
	    background-color: #445268;
	    width: 80% !important;
	    height: 100%;
	    top: 0;
	    left: 0;
	    animation: menura 0.5s forwards;
	    >li{
	    	display: block !important;
    		text-align: left;
    		&.demos{
    			ul.child-menu-demo{
    				position: static;
    				display: none;
    				box-shadow: none;
    				&.play-child-menu{
						display: block;
						background-color: #445268;						
						opacity: 1;
						visibility: visible;
						border: 0;
						margin-left: 25px;
						a{
							color: white; 
							border: 0;
							line-height: 30px;
						}
    				}
    			}
    		}    		
    		a{
    			color: white;
    			display: flex !important;
    			justify-content: space-between;
    			i{line-height: 50px;}
    		}
	    }
	}}
}
@-webkit-keyframes menura{
	0%{
		left:-150px;
		opacity: 0;
	}
	100%{
		left:0;
		opacity: 1;
	}
}
// end fixed
.main-content.play-search{
	display: block;
    position: fixed;
    z-index: 1000;
    left: 28%;
    .search{
    	animation: search-open 0.5s forwards;
    	background-color: white;
    }
}
@-webkit-keyframes search-open{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
._1slider{img{width: 100%;}}
@media only screen and (max-width: 1250px){
	.slick-prev{left: 0!important;}
	.slick-next{right: 0 !important;}
}
@media only screen and (max-width: 1200px){
	header{.new-arrival-content{width: 900px !important;
			.bottom-childmenu-newarrival{a{&:last-child{
				display: none;};}}
		}}
	footer{.col-footer{
		margin-bottom: 20px;
	}}
}
@media only screen and (max-width: 1199px){
	header{
		.header-bottom {.main-bottom {ul {.new-arrival-content{
			display: none;
		}}}}
		&:after{display: none;}
		.header-top{.col-lg-12{	text-align: center;&:last-child{display:none;};}}
		.bottom-right{display: none;}
		.header-content{
			.main-content{ .search {input{
				padding: 0 5px;
			}}}
			.content-left,.main-content{margin: 0 !important;}
			.search{ 
				width: 400px !important; 
				button{&:after{display: none;}}
				&:after{display: none;}
			}
		}
	}
	.mix-product{
		.product-left{width: 100%;}
		.product-right{display: none;}
	}
	.main-slider {.content-slider {.banner-content{
		top: 10%;
    	left: 10%;
	}}}
}
// end 1200

@media only screen and (min-width: 992px){
	header{
		.control-main-content{	display: none;	}
	}
}
@media only screen and (max-width: 991px){
	.fixed{ 
	    width: auto;
	    animation: none;
	    top: unset;
	    left: unset;
	    transform: unset;
	    z-index: 1000;
	    position: unset;
	}
	.up{
		right: 10px;
		bottom: 75px;
		z-index: 998;
	}

	header{
		.header-content{
			.main-content{ .search {input{
				padding: 0 20px;
			}}}
		}
		.main-content{display: none;}
		.header-bottom{
			.bottom-left{
				display: none;
			}
			.cover-extra-menu{width: 250px;}
			.main-bottom {ul {li {
				&.demos{ ul.child-menu-demo{
					width: auto;
					padding: 0;
				}}
				.new-arrival-content{
				display: none;
			}}}}
		}
		// end header-bottom
		.play-search{width: 90%; left: 5% !important;
			.search{width: 100% !important;}
		}
		.content-left{
			width: 100%;
		    text-align: center;
		    display: flex;
			justify-content: space-between;
			padding: 0 20px;
		    flex-direction: row-reverse;
		}
		.control-main-content, .control-menu-mobile{
			display: block;
		    line-height: 91px;
    		font-size: 24px;
		}
		.main-bottom{
			display: none;
			.mega-menu{position: relative;
				i{
					color: white;
				}
				.rotate{
				    transform: rotate(180deg);
				}
			}
		}
		.header-bottom{ .main-bottom {ul{
			padding-right: 20px;
		}}}
		.menu-main{
	        overflow-y: auto;
    		overflow-x: hidden;
    		.new-arrival-content.play-mega-menu{
    		    position: static !important;
			    display: block !important;
			    width: auto !important;
			    background: transparent !important;
			    padding: 0 10px !important;
			    padding-left: 25px !important;
			    box-shadow: none !important;
		        opacity: 1 !important;
    			visibility: visible !important;
			    .list-child-menu{
			    	flex-wrap: wrap;
			    	li{
			    		width: 100% !important;
			    		display: flex;
			    		flex-wrap: wrap;
			    		justify-content: space-between;
			    		align-items: center;
			    		a{
			    			color: white !important;
			    		}
			    	}
			    }
			    .bottom-childmenu-newarrival{display: none !important;}
			    .childmenu{
			    	width: 100% !important;
			    	display: none;
			    	margin-left: 25px;
			    	li{
			    		a{
				    		color: white !important;
				    		font-weight: 400 !important;
				    		margin-bottom: 0 !important;
				    		font-size: 14px !important;
			    	}}
			    }
    		}
		}
		.header-content{ 
			.content-right{
			    position: fixed;
			    bottom: 0;
			    left: 0;
			    justify-content: space-around;
			    z-index: 1000;
			    width: 100%;
			    z-index: 10;
			    background-color: white;
			    padding: 10px;
			    box-shadow: 0px -5px 10px -5px #445268;
			    .list-window.on-list-window{
					top: unset;
					bottom: 60px;
					overflow: hidden;
			    }
			   .el{
			   		&:first-child{
						.list-window._on-signin {
							left: 0 !important;
							right: auto !important;
							&:after{left: 20px !important;};
						}
				}}
			}
		}
	}
	// end header
	.main-slider{.banner-content{
		span{
			font-size: 13px !important;
		    margin-bottom: 10px !important;
		    line-height: 15px !important;
		}
		h1{
			font-size: 10px !important;
  			margin-bottom: 10px !important;
		}
		.btn{
		    font-size: 10px !important;
		    padding-left: 10px !important;
		    padding-right: 10px !important;
		    line-height: 15px !important;
		}
	}}
	.mix-product{
		.product-left{width: 100%;}
		.magic-tabs{.title{
			padding: 0;
		}}
	}
	// end mix product
	footer{
		padding-bottom: 60px;
		.link-img{
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: space-between;
    		a{
    			&:first-child{
    				margin-right: 10px;
    				img{
    					margin-bottom: 10px;
    					margin-right: 0;
    				}
    			}
    		}
		}
		.col-footer{padding-right: 20px;
			&:nth-child(4){order: 1;};
			&:nth-child(3){order: 2;};

		}
		.bottom-left,.bottom-right{p{
			text-align: center !important;
			line-height: 25px;
		}}
	}
}
// end 991px

@media only screen and (max-width: 768px){
	// ngon roi
	header{
		.bottom-left.control-extramenu{display: none !important;}
		.main-bottom{margin: auto;
			ul{padding: 0 !important; text-align: center !important;}
		}
	}
}
// end 768px
@media only screen and (max-width: 767px){
	.slick-arrow{display: none !important;}
	.top {display: none !important;}
	header{
		.header-top {
			.top-left { 
				display: flex;
				justify-content: center;
			.welcome, .phone-num{
				display: none;
			}
			span{
				margin: 0;
				text-align: center;
				padding-left: 15px;
				padding-right: 16px;
		}}}
	}
	.magic-tabs{&:after{display: none;}}
	.mix-product{
		.product-left{
			flex-wrap: wrap;
			.category-product {
				.content-slider {.el-slider{ .product-image{
					width: 50%;
				}	}
			}}
		}
		.category-product{
			width: 100% !important; 
			margin-bottom: 10px;
		}
		.product-item.grid{
			display: flex;
			margin-top: 10px;
		}
	}
	.tablet-product,.tv-product{.magic-tabs {
		flex-wrap: wrap;
		&:after{display: none;};
		ul{
			width: 100%;
			margin-top: 20px;
			padding: 0;
			overflow-x: auto;
			white-space: nowrap;
			padding-bottom: 5px;
		}}}
	footer {.link-img{
		margin-bottom: 15px;
	}}
}

@media only screen and (max-width: 640px){
	header{
		.container{padding-top: 0 !important; padding-bottom: 0 !important;}
		.bottom-left{display: none;}
		.header-top{
			.top-left > span:not(:last-child):after{
				display: none;
			}
			span{
				margin: 0 !important;
				&:after{display: none;};
			}}
		.main-bottom{ul{
			text-align: center !important;
			padding: 0!important;
		}}
	}
	.mix-product{
		.product-left{flex-wrap: wrap;}
	}
}
// end 680px

@media only screen and (max-width: 575px){
	.digital {.popup {
		width: 90%;
	    padding: 20px 25px 20px;
		&:after{display: none;}
		.popup-content {
			.sub-form{
				margin-top: 10px;
			}
			p{
			    font-size: 12px;
    			margin-top: 10px;
			}
			.header-popup {
				span{
				    font-size: 14px;
				    strong{
				    	font-size: 15px;
				    }
				}
				h1{
				    font-size: 30px;
    				margin-bottom: 0;
	}}}}}
	.feature-product {.container{
		padding-left: 15px;
		padding-right: 15px;
	}}
	section, footer {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.main-slider{
		padding-left: 0;
		padding-right: 0;
	}
	.banner-top {.row {.content-banner{
		width: 100%;
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}}}
	header{
		.header-content {
			.content-left{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.control-menu-mobile{
			display: block;
		    line-height: 91px;
    		font-size: 24px;
		}
		.main-bottom{display: none;
			.mega-menu{position: relative;
				i{display: block;}
			}
		}
		.menu-main{
	        overflow-y: auto;
    		overflow-x: hidden;
    		.new-arrival-content.play-mega-menu{
    		    position: static !important;
			    display: block !important;
			    width: auto !important;
			    background: transparent !important;
			    padding: 0 10px !important;
			    padding-left: 25px !important;
			    .list-child-menu{
			    	flex-wrap: wrap;
			    	li{
			    		width: 100% !important;
			    		a{
			    			color: white !important;
			    		}
			    	}
			    }
			    .bottom-childmenu-newarrival{display: none !important;}
			    .childmenu{
			    	width: 100% !important;
			    	display: none;
			    	margin-left: 25px;
			    	li{
			    		a{
				    		color: white !important;
				    		font-weight: 400 !important;
				    		margin-bottom: 0 !important;
				    		font-size: 14px !important;
			    	}}
			    }
    		}
		}
	}
}
// end 576
@media only screen and (min-width: 992px){
	header{	.content-left{.control-main-content{display: none;}	}}
	header{.control-menu-mobile{display: none;}
		.mega-menu{i{display: none;}}
	}
}
@media only screen and (max-width: 480px){
	.mix-product{
		.product-left {.category-product {.content-slider {.el-slider {.product-image{
			width: 100%;
		}}}}}
		.product-item.grid{
		display: block;
	}}
	.main-slider{
		margin-bottom: 20px;
		.content-slider{ img{
		    min-height: 170px;
			object-fit: cover;
		}}
	}
	.mostview-product {.product-slider{ .product-item.list{
		display: block;
		.product-image,.product-detail{
			width: 100%;
		}
	}}}
	footer {.title{font-size: 15px;}}
	header .header-content .content-right .el .i{margin-right: 0;}
	header{	
		.header-content{
			.content-right{
				width: 100%;
				    justify-content: space-between;
				.el{
					.text{display: none;}
				}
				.list-window {.shopping-cart {.product-image{
					display: none;
				}}}
				.list-window._on-shoppingcard{
					width: 280px !important;
					right: 0px;
					.delete{right: -65px !important;}
					.end{font-size: 11px !important;}
					.checkout{
						padding-right: 10px !important;
						padding-left: 10px !important;
					}
				}
			}
		}
		
		
	}
	footer{
		padding-left: 15px;
		.bottom-right{
			img{width: 80%;}
		}
	}
}
// end 480

@media only screen and (max-width: 360px){
	.top{display: none !important;}
	.banner-top{
		margin-top: 0;
	}
	header{
		.header-content {.main-content{ .search {select{
			display: none;
		}}}}
		.top-right{display: none !important;}
	}
	footer{
		.link-img{img{margin-bottom: 10px;}}
		.sub{input{font-size: 11px;}}
		.bottom-left{p{line-height: 25px;}}
		.list-icon{a{margin-right: 5px !important;
		&:last-child{margin-right: 5px !important;};
	}}}	
	.mostview-product{
		padding: 0;
		.container{
			padding-left: 15px;
			padding-right: 15px;
		}
	}	
}
// end 360
